 * {
   -webkit-tap-highlight-color: transparent;
   box-sizing: border-box;
   outline: 0
 }
 
 html {
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%
 }
 
 body {
   font-size: 12px;
   color: #3A3E4A;
   font-family: Roboto, Open Sans, Helvetica, Arial;
   line-height: 1.3;
   background-color: #f2f2f2
 }
 
 a {
   -webkit-touch-callout: none;
   text-decoration: none;
   color: #3A3E4A
 }
 
 a:active,
 a:hover {
   outline: 0
 }
 
 img {
   max-width: 100%;
   border: 0
 }
 
 button,
 input,
 select,
 textarea {
   margin: 0;
   padding: 0;
   color: inherit;
   font: inherit;
   text-transform: none;
   line-height: normal;
   background: 0;
   border: 0;
   border-radius: 0;
   overflow: visible
 }
 
 button,
 input[type=button],
 input[type=reset],
 input[type=submit] {
   -webkit-appearance: button;
   cursor: pointer
 }
 
 button[disabled],
 input[disabled] {
   cursor: default
 }
 
 button::-moz-focus-inner,
 input::-moz-focus-inner {
   border: 0;
   padding: 0
 }
 
 input[type=checkbox],
 input[type=radio] {
   box-sizing: border-box;
   padding: 0
 }
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
   height: auto
 }
 
 input[type=search] {
   -webkit-appearance: textfield;
   box-sizing: content-box
 }
 
 input[type=search]::-webkit-search-cancel-button,
 input[type=search]::-webkit-search-decoration {
   -webkit-appearance: none
 }
 
 input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px #fff inset
 }
 
 input::-webkit-input-placeholder,
 textarea::-webkit-input-placeholder {
   color: #B0B2B7
 }
 
 a,
 address,
 article,
 aside,
 blockquote,
 body,
 code,
 dd,
 del,
 div,
 dl,
 dt,
 footer,
 form,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 header,
 html,
 iframe,
 img,
 label,
 li,
 nav,
 object,
 p,
 pre,
 section,
 span,
 ul {
   margin: 0;
   padding: 0
 }
 
 ul {
   list-style: none
 }
 
 @font-face {
   font-family: icmd;
   src: url(https://i.alicdn.com/ae-msite-ui/common/font/iconfont.c9a05b18.ttf) format("truetype")
 }
 
 .ic-md {
   position: relative;
   display: inline-block;
   font-family: icmd;
   font-size: 16px;
   line-height: 1;
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -webkit-text-stroke-width: .2px;
   -moz-osx-font-smoothing: grayscale
 }
 
 .ic-attribute-md:before {
   content: "\E600"
 }
 
 .ic-backarrow-md:before {
   content: "\E601"
 }
 
 .ic-cancel-md:before {
   content: "\E602"
 }
 
 .ic-close-md:before {
   content: "\E603"
 }
 
 .ic-coupon-md:before {
   content: "\e6b8"
 }
 
 .ic-download-md:before {
   content: "\E605"
 }
 
 .ic-drawer-md:before {
   content: "\E606"
 }
 
 .ic-filter-md:before {
   content: "\E607"
 }
 
 .ic-helpcenter-md:before {
   content: "\E608"
 }
 
 .ic-home-md:before {
   content: "\E609"
 }
 
 .ic-insert-md:before {
   content: "\E60A"
 }
 
 .ic-order-md:before {
   content: "\E60B"
 }
 
 .ic-questionnaire-md:before {
   content: "\E60C"
 }
 
 .ic-search-md:before {
   content: "\E60D"
 }
 
 .ic-shoppingcart-md:before {
   content: "\E60E"
 }
 
 .ic-star-md:before {
   content: "\E60F"
 }
 
 .ic-time-md:before {
   content: "\E610"
 }
 
 .ic-translation-md:before {
   content: "\E611"
 }
 
 .ic-viewgallery-md:before {
   content: "\E612"
 }
 
 .ic-viewgrid-md:before {
   content: "\E613"
 }
 
 .ic-wishlist-md:before {
   content: "\E614"
 }
 
 .ic-signout-md:before {
   content: "\E615"
 }
 
 .ic-arrowdown-md:before {
   content: "\E616"
 }
 
 .ic-arrowright-md:before {
   content: "\E617"
 }
 
 .ic-category-md:before {
   content: "\E619"
 }
 
 .ic-apponly-md:before {
   content: "\E618"
 }
 
 .ic-image-md:before {
   content: "\E61A"
 }
 
 .ic-addtohomescreen-md:before {
   content: "\E61B"
 }
 
 .ic-add-md:before {
   content: "\E61C"
 }
 
 .ic-arrowup-md:before {
   content: "\E61D"
 }
 
 .ic-remove-md:before {
   content: "\E61E"
 }
 
 .ic-appendfeedback-md:before {
   content: "\E61F"
 }
 
 .ic-delete-md:before {
   content: "\E621"
 }
 
 .ic-morevert-md:before {
   content: "\E620"
 }
 
 .ic-followupfeedback-md:before {
   content: "\E61F"
 }
 
 .ic-reduce-md:before {
   content: "\E622"
 }
 
 .ic-error-md:before {
   content: "\E623"
 }
 
 .ic-chevronleft-md:before {
   content: "\E624"
 }
 
 .ic-chevronright-md:before {
   content: "\E625"
 }
 
 .ic-translate-md:before {
   content: "\E626"
 }
 
 .ic-message-md:before {
   content: "\E627"
 }
 
 .ic-store-md:before {
   content: "\E628"
 }
 
 .ic-storecategory-md:before {
   content: "\E629"
 }
 
 .ic-following-md:before {
   content: "\E62A"
 }
 
 .ic-follow-md:before {
   content: "\E62B"
 }
 
 .ic-404-md:before {
   content: "\E62C"
 }
 
 .ic-building-md:before {
   content: "\E62D"
 }
 
 .ic-feedback-md:before {
   content: "\E62F"
 }
 
 .ic-pc-site-md:before {
   content: "\E630"
 }
 
 .ic-unhappy-md:before {
   content: "\E631"
 }
 
 .ic-happy-md:before {
   content: "\E632"
 }
 
 .ic-network-md:before {
   content: "\E633"
 }
 
 .ic-snapshot-md:before {
   content: "\E62E"
 }
 
 .ic-mobile-view-md:before {
   content: "\E635"
 }
 
 .ic-pc-view-md:before {
   content: "\E634"
 }
 
 .ic-more-md:before {
   content: "\E63F"
 }
 
 .ic-despatched-md:before {
   content: "\E63E"
 }
 
 .ic-take-off-md:before {
   content: "\E63D"
 }
 
 .ic-landing-md:before {
   content: "\E63C"
 }
 
 .ic-delivered-md:before {
   content: "\E63B"
 }
 
 .ic-seller-discount-md:before {
   content: "\E63A"
 }
 
 .ic-bonus-coupon-sign-md:before {
   content: "\E639"
 }
 
 .ic-bonus-coupon-md:before {
   content: "\E638"
 }
 
 .ic-about-md:before {
   content: "\E637"
 }
 
 .ic-seller-coupon-md:before {
   content: "\E636"
 }
 
 .ic-path-md:before {
   content: "\E640"
 }
 
 .ic-share-md:before {
   content: "\E6C0"
 }
 
 .ic-comment-md:before {
   content: "\E6C2"
 }
 
 .ic-zan-md:before {
   content: "\E6C3"
 }
 
 .ic-camera-md:before {
   content: "\E6C4"
 }
 
 .ic-cross-md:before {
   content: "\e6b4"
 }
 
 .ic-right-md:before {
   content: "\e6b7"
 }
 
 .ic-answer-md:before {
   content: "\e6b5"
 }
 
 .ic-ask-md:before {
   content: "\e6b6"
 }
 
 .ic-size-md:before {
   content: "\e6b9"
 }
 
 .ic-reply-md:before {
   content: "\e6ba"
 }
 
 .icon-ic_all_category_md:before {
   content: "\e6e0"
 }
 
 .icon-ic_womens_clothing_:before {
   content: "\e6de"
 }
 
 .icon-ic_mens_clothing_md:before {
   content: "\e6dc"
 }
 
 .icon-ic_phones__accessor:before {
   content: "\e6db"
 }
 
 .icon-ic_consumer_lectroni:before {
   content: "\e6da"
 }
 
 .icon-ic_computer__office:before {
   content: "\e6d7"
 }
 
 .icon-ic_automobiles__mot:before {
   content: "\e6d8"
 }
 
 .icon-ic_home__gardenfur:before {
   content: "\e6dd"
 }
 
 .icon-ic_sports__outdoors:before {
   content: "\e6df"
 }
 
 .icon-ic_toyskids__baby_:before {
   content: "\e6d6"
 }
 
 .icon-ic_jewelry__watches:before {
   content: "\e6d4"
 }
 
 .icon-ic_bags__shoes_md:before {
   content: "\e6d9"
 }
 
 .icon-ic_health__beautyh:before {
   content: "\e6d5"
 }
 
 .icon-ic_tool_md:before {
   content: "\e6e2"
 }
 
 .icon-ic_home_appliances_m:before {
   content: "\e6e3"
 }
 
 .icon-ic_home_improvement_:before {
   content: "\e6e1"
 }
 
 .md-loading {
   position: absolute;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%)
 }
 
 .preloader-wrapper {
   display: inline-block;
   position: relative;
   width: 20px;
   height: 20px;
   font-size: 0
 }
 
 .preloader-wrapper.small {
   width: 36px;
   height: 36px
 }
 
 .preloader-wrapper.big {
   width: 64px;
   height: 64px
 }
 
 .preloader-wrapper.active {
   -webkit-animation: container-rotate 1568ms linear infinite;
   animation: container-rotate 1568ms linear infinite
 }
 
 @-webkit-keyframes container-rotate {
   to {
     -webkit-transform: rotate(360deg)
   }
 }
 
 @keyframes container-rotate {
   to {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg)
   }
 }
 
 .spinner-layer {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   border-color: #26a69a
 }
 
 .spinner-blue,
 .spinner-blue-only {
   border-color: #4285f4
 }
 
 .spinner-red,
 .spinner-red-only {
   border-color: #F44336
 }
 
 .spinner-yellow,
 .spinner-yellow-only {
   border-color: #f4b400
 }
 
 .spinner-green,
 .spinner-green-only {
   border-color: #0f9d58
 }
 
 .active .spinner-layer.spinner-red {
   -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
   animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both, red-fade-in-out 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
 }
 
 .active .spinner-layer,
 .active .spinner-layer.spinner-blue-only,
 .active .spinner-layer.spinner-green-only,
 .active .spinner-layer.spinner-red-only,
 .active .spinner-layer.spinner-yellow-only {
   opacity: 1;
   -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
   animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
 }
 
 @keyframes fill-unfill-rotate {
   12.5% {
     -webkit-transform: rotate(135deg);
     transform: rotate(135deg)
   }
   25% {
     -webkit-transform: rotate(270deg);
     transform: rotate(270deg)
   }
   37.5% {
     -webkit-transform: rotate(405deg);
     transform: rotate(405deg)
   }
   50% {
     -webkit-transform: rotate(540deg);
     transform: rotate(540deg)
   }
   62.5% {
     -webkit-transform: rotate(675deg);
     transform: rotate(675deg)
   }
   75% {
     -webkit-transform: rotate(810deg);
     transform: rotate(810deg)
   }
   87.5% {
     -webkit-transform: rotate(945deg);
     transform: rotate(945deg)
   }
   to {
     -webkit-transform: rotate(1080deg);
     transform: rotate(1080deg)
   }
 }
 
 .gap-patch {
   position: absolute;
   top: 0;
   left: 45%;
   width: 10%;
   height: 100%;
   overflow: hidden;
   border-color: inherit
 }
 
 .gap-patch .circle {
   width: 1000%;
   left: -450%
 }
 
 .circle-clipper {
   display: inline-block;
   position: relative;
   width: 50%;
   height: 100%;
   overflow: hidden;
   border-color: inherit
 }
 
 .circle-clipper .circle {
   width: 200%;
   height: 100%;
   border-width: 2px;
   border-style: solid;
   border-color: inherit;
   border-bottom-color: transparent;
   border-radius: 50%;
   -webkit-animation: none;
   animation: none;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0
 }
 
 .circle-clipper.left .circle {
   left: 0;
   border-right-color: transparent;
   -webkit-transform: rotate(129deg);
   transform: rotate(129deg)
 }
 
 .circle-clipper.right .circle {
   left: -100%;
   border-left-color: transparent;
   -webkit-transform: rotate(-129deg);
   transform: rotate(-129deg)
 }
 
 .active .circle-clipper.left .circle {
   -webkit-animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
   animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
 }
 
 .active .circle-clipper.right .circle {
   -webkit-animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
   animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
 }
 
 @keyframes left-spin {
   from {
     -webkit-transform: rotate(130deg);
     transform: rotate(130deg)
   }
   50% {
     -webkit-transform: rotate(-5deg);
     transform: rotate(-5deg)
   }
   to {
     -webkit-transform: rotate(130deg);
     transform: rotate(130deg)
   }
 }
 
 @keyframes right-spin {
   from {
     -webkit-transform: rotate(-130deg);
     transform: rotate(-130deg)
   }
   50% {
     -webkit-transform: rotate(5deg);
     transform: rotate(5deg)
   }
   to {
     -webkit-transform: rotate(-130deg);
     transform: rotate(-130deg)
   }
 }
 
 .star-rank {
   position: relative;
   display: inline-block;
   font-family: icmd
 }
 
 .ms-star-bottom::before {
   display: inline-block;
   color: #e8e8e8;
   content: "\e60f\e60f\e60f\e60f\e60f"
 }
 
 .ms-star-top::before {
   color: #F44336;
   display: inline-block;
   content: "\e60f\e60f\e60f\e60f\e60f";
   overflow: hidden
 }
 
 .ms-star-top {
   position: absolute;
   left: 0;
   top: 0;
   display: inline-block;
   width: 0;
   overflow: hidden
 }
 
 [role=button] {
   outline: 0
 }
 
 .ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap
 }
 
 .flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: flex
 }
 
 .justify-content-center {
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   justify-content: center
 }
 
 .align-items-center {
   -webkit-box-align: center;
   -webkit-align-items: center;
   align-items: center
 }
 
 #ms-header {
   width: 100%;
   background: #fff;
   z-index: 2;
   top: 0;
   position: fixed
 }
 
 #ms-header .download-bar {
   height: 56px;
   overflow: hidden;
   border-bottom: 1px solid #EBEBEC
 }
 
 #ms-header .download-bar a {
   display: block
 }
 
 main {
   padding-top: 112px
 }
 
 #marker {
   top: 813px;
   width: 0;
   height: 100%;
   position: absolute;
   height: 100%
 }
 
 .header-toolbar {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   display: -webkit-flex;
   height: 56px;
   -webkit-box-align: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: #fff;
   -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24);
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24)
 }
 
 #search-input-layer {
   background: #fff
 }
 
 #search-input-layer .autosuggest {
   height: 90%;
   overflow-y: auto
 }
 
 #search-input-layer .search-box {
   width: 100%;
   padding-left: 24px;
   font-size: 18px;
   outline: 0;
   border: none
 }
 
 #search-reset {
   position: absolute;
   top: 0;
   right: -60px
 }
 
 #autosuggest amp-list {
   position: relative;
   height: auto
 }
 
 #autosuggest amp-list>div {
   position: relative;
   height: auto
 }
 
 .auto-suggest-prom .auto-prom {
   display: block;
   position: relative;
   height: 48px
 }
 
 .auto-suggest-prom .auto-prom .prom {
   margin-left: 8px;
   width: 100%;
   display: flex;
   align-items: center
 }
 
 .auto-suggest-prom .auto-prom .prom-txt {
   position: relative;
   font-size: 12px;
   line-height: 48px;
   color: #E62E04;
   margin-left: 8px
 }
 
 .auto-suggest-prom .auto-prom .prom-image {
   box-shadow: 0 0 2px 0 rgba(0, 0, 0, .24)
 }
 
 .auto-suggest-cat .auto-cat {
   display: block;
   position: relative;
   padding: 19px 16px 19px 8px
 }
 
 .auto-suggest-cat .auto-cat .cat .ic-md {
   position: absolute;
   right: 16px;
   top: 19px
 }
 
 .auto-suggest-cat .cate-txt {
   font-size: 16px;
   line-height: 14px;
   margin-bottom: 4px
 }
 
 .auto-suggest-cat .category {
   font-size: 12px;
   color: #B0B2B7;
   line-height: 12px
 }
 
 .suggest {
   position: relative;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: 64px;
   padding: 14px 0
 }
 
 .suggest .txt-wrap {
   display: block;
   margin-left: 8px;
   margin-right: 48px;
   color: #555
 }
 
 .suggest .ic-md {
   position: absolute;
   right: 16px;
   top: 50%;
   margin-top: -12px
 }
 
 #autosuggest .go-icon {
   font-size: 20px
 }
 
 .suggest .txt-wrap .sug-txt {
   display: block;
   white-space: nowrap;
   word-wrap: normal;
   text-overflow: ellipsis;
   overflow: hidden;
   text-align: left;
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 4px;
   width: 60%
 }
 
 .suggest .txt-wrap .categroy-name {
   font-size: 11px;
   color: #B0B2B7;
   line-height: 12px
 }
 
 .ic-wp {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   display: -webkit-flex;
   width: 48px;
   height: 56px;
   -webkit-box-pack: center;
   -moz-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-justify-content: center;
   -webkit-box-align: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center
 }
 
 .ic-wp .ic-md {
   font-size: 24px
 }
 
 .ic-close {
   position: absolute;
   right: 0;
   display: flex;
   display: -webkit-flex;
   width: 48px;
   height: 56px;
   align-items: center;
   -webkit-align-items: center
 }
 
 .ic-close .ic-close-md {
   background-color: #ccc;
   border-radius: 50%;
   font-size: 20px
 }
 
 .clear-hide {
   display: none
 }
 
 .clear-show {
   display: block
 }
 
 #ms-drawer {
   -webkit-box-ordinal-group: 1;
   -moz-box-ordinal-group: 1;
   -ms-flex-order: 0;
   order: 0;
   -webkit-order: 0
 }
 
 #ms-back {
   -webkit-box-ordinal-group: 2;
   -moz-box-ordinal-group: 2;
   -ms-flex-order: 1;
   order: 1;
   -webkit-order: 1
 }
 
 #ms-close {
   -webkit-box-ordinal-group: 3;
   -moz-box-ordinal-group: 3;
   -ms-flex-order: 2;
   order: 2;
   -webkit-order: 2
 }
 
 #ms-title {
   -webkit-box-ordinal-group: 4;
   -moz-box-ordinal-group: 4;
   -ms-flex-order: 3;
   order: 3;
   -webkit-order: 3;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   -webkit-flex-grow: 1;
   -webkit-box-pack: start;
   -moz-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -webkit-justify-content: flex-start;
   font-size: 18px;
   font-weight: 600;
   overflow-x: auto;
   margin-left: 16px
 }
 
 #ms-title::-webkit-scrollbar {
   display: none
 }
 
 #ms-title span:nth-child(1) {
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis
 }
 
 #ms-title span:nth-child(2) {
   display: inline-block;
   padding-left: 10px;
   white-space: nowrap
 }
 
 #ms-logo {
   -webkit-box-ordinal-group: 5;
   -moz-box-ordinal-group: 5;
   -ms-flex-order: 4;
   order: 4;
   -webkit-order: 4;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   -webkit-flex-grow: 1;
   padding-left: 16px;
   -webkit-box-pack: start;
   -moz-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   -webkit-justify-content: flex-start
 }
 
 #ms-logo h1 {
   width: 0;
   height: 0;
   overflow: hidden
 }
 
 #ms-search {
   -webkit-box-ordinal-group: 6;
   -moz-box-ordinal-group: 6;
   -ms-flex-order: 5;
   order: 5;
   -webkit-order: 5
 }
 
 #ms-cart {
   position: relative;
   -webkit-box-ordinal-group: 7;
   -moz-box-ordinal-group: 7;
   -ms-flex-order: 6;
   order: 6;
   -webkit-order: 6
 }
 
 #ms-cart>div {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2
 }
 
 #ms-cart form input {
   position: absolute;
   top: 10px;
   right: 10px;
   min-width: 14px;
   height: 14px;
   line-height: 14px;
   background-color: #e62e04;
   border-radius: 14px;
   color: #fff;
   text-align: center
 }
 
 #ms-minidrawer {
   -webkit-box-ordinal-group: 8;
   -moz-box-ordinal-group: 8;
   -ms-flex-order: 7;
   order: 7;
   -webkit-order: 7
 }
 
 #mini-drawer-list {
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 2
 }
 
 .mini-drawer-layer {
   width: 100vw;
   height: 100vh;
   position: absolute;
   z-index: 1;
   right: 0
 }
 
 .mini-drawer-list {
   position: absolute;
   top: 15px;
   right: 15px;
   z-index: 2;
   padding: 8px 0;
   background-color: #FBFBFB;
   -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24)
 }
 
 .mini-drawer-list li {
   min-width: 120px;
   max-width: 228px;
   height: 48px;
   line-height: 48px;
   padding-left: 16px;
   font-size: 14px
 }
 
 .mini-drawer-list li a {
   display: block
 }
 
 .unscroll {
   position: fixed;
   z-index: 0;
   width: 100vw
 }
 
 .shadow {
   box-shadow: 0 0 1px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24)
 }
 
 .radius {
   border-radius: 2px
 }
 
 .row {
   position: relative;
   width: 100%;
   margin-left: 0;
   margin-right: 0;
   height: auto;
   display: block
 }
 
 .relative {
   position: relative
 }
 
 .float {
   float: left
 }
 
 .flex {
   display: flex
 }
 
 .amp-carousel-button {
   display: none
 }
 
 .banner-wrap {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24)
 }
 
 .banner-wrap a {
   display: block
 }
 
 .kv-tab {
   height: 16px;
   text-align: center;
   line-height: 10px;
   width: 100%;
   position: absolute;
   bottom: 0;
   z-index: 0;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0)
 }
 
 .kv-tab li {
   background-color: #fff;
   border-radius: 6px;
   display: inline-block;
   height: 0;
   width: 6px;
   overflow: hidden;
   padding: 6px 0 0 0;
   margin: 0 2px;
   opacity: .8
 }
 
 .kv-tab li.current {
   background-color: #e62e04;
   opacity: 1
 }
 
 .category {
   margin-bottom: 12px;
   margin-top: 10px
 }
 
 .category>span {
   display: none
 }
 
 .category-list::-webkit-scrollbar {
   display: none
 }
 
 .category-container {
   height: 24vw;
   overflow: hidden
 }
 
 .category-list {
   -webkit-overflow-scrolling: touch;
   -overflow-scrolling: touch;
   overflow-x: auto;
   white-space: nowrap;
   padding: 4px 10px 5px
 }
 
 .category-list li {
   display: inline-block;
   width: 18.06vw;
   height: 22.78vw;
   overflow: hidden;
   margin-right: 10px;
   position: relative
 }
 
 .category-list li:nth-child(16) {
   margin-right: 0
 }
 
 .category-list li a {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0
 }
 
 .category .icon {
   display: block;
   margin-bottom: 8px
 }
 
 .category .icon .ic-md {
   width: 13.86vw;
   height: 13.86vw;
   color: #fff;
   margin: 0 auto;
   border-radius: 50%;
   font-size: 36px;
   display: flex;
   display: -webkit-flex;
   justify-content: center;
   -webkit-justify-content: center;
   align-items: center;
   -webkit-align-items: center
 }
 
 .category .text {
   height: 28px;
   width: 100%;
   white-space: normal;
   text-align: center;
   justify-content: center;
   align-items: center;
   line-height: 12px;
   padding-top: 0;
   display: box;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   transform: scale(.8334);
   -webkit-transform: scale(.8334)
 }
 
 @media screen and (min-width:400px) {
   .category .text {
     overflow: hidden
   }
 }
 
 .category li:nth-child(7) .text {
   height: 25px;
   width: 21.5vw;
   overflow: hidden
 }
 
 .category li:nth-child(1) .ic-md {
   background-image: linear-gradient(90deg, #000 0, #525252 74%)
 }
 
 .category li:nth-child(2) .ic-md {
   background-image: linear-gradient(-90deg, #FF1616 0, #FA0000 100%)
 }
 
 .category li:nth-child(3) .ic-md {
   background-image: linear-gradient(-90deg, #FF6B9A 0, #FF378B 100%)
 }
 
 .category li:nth-child(4) .ic-md {
   background-image: linear-gradient(-90deg, #FF5123 0, #FF4D08 100%)
 }
 
 .category li:nth-child(5) .ic-md {
   background-image: linear-gradient(-90deg, #FF9300 0, #FF7A19 100%)
 }
 
 .category li:nth-child(6) .ic-md {
   background-image: linear-gradient(90deg, #FFB400 0, #FFCD00 100%)
 }
 
 .category li:nth-child(7) .ic-md {
   background-image: linear-gradient(-90deg, #DBB181 0, #DBBB6F 100%)
 }
 
 .category li:nth-child(8) .ic-md {
   background-image: linear-gradient(-90deg, #68D60E 0, #57CF03 100%)
 }
 
 .category li:nth-child(9) .ic-md {
   background-image: linear-gradient(-90deg, #30BF67 0, #06A03D 100%)
 }
 
 .category li:nth-child(10) .ic-md {
   background-image: linear-gradient(-90deg, #21EDE3 0, #11DFD5 100%)
 }
 
 .category li:nth-child(11) .ic-md {
   background-image: linear-gradient(-90deg, #00C5FF 0, #00D6FF 100%)
 }
 
 .category li:nth-child(12) .ic-md {
   background-image: linear-gradient(-90deg, #0196FF 0, #00ADFF 100%)
 }
 
 .category li:nth-child(13) .ic-md {
   background-image: linear-gradient(-90deg, #1E44FB 3%, #0073FA 100%)
 }
 
 .category li:nth-child(14) .ic-md {
   background-image: linear-gradient(-90deg, #CC4CFE 2%, #9D3DFF 100%)
 }
 
 .floor-deals .coupon {
   margin: 0 8px 12px 8px
 }
 
 .deals-title-container {
   padding: 15px 8px 12px;
   overflow: hidden
 }
 
 .deals-title-container .block {
   width: 100%
 }
 
 .deals-title-container .block>span:nth-child(1) {
   width: 80%;
   float: left;
   font-size: 18px;
   font-weight: 600;
   color: rgba(0, 0, 0, .87)
 }
 
 .deals-title-container .block>span:nth-child(2) {
   width: 20%;
   float: left;
   padding-top: 4px;
   font-size: 14px;
   text-align: right;
   color: #2E9CC3
 }
 
 .floor-deals del {
   color: #868686
 }
 
 .floor-deals .block {
   display: block
 }
 
 .flash-deals,
 .under-five {
   font-size: 0;
   margin-bottom: 12px
 }
 
 #under-five>div::-webkit-scrollbar {
   display: none
 }
 
 #flash-deals>div::-webkit-scrollbar {
   display: none
 }
 
 #flash-deals>div,
 #under-five>div {
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
   -overflow-scrolling: touch
 }
 
 .junlong-method {
   height: 41vw;
   overflow-y: hidden
 }
 
 #flash-deals .amp-carousel,
 #under-five .amp-carousel {
   display: inline-block;
   margin-right: 8px
 }
 
 #flash-deals .amp-carousel:nth-child(1),
 #under-five .amp-carousel:nth-child(1) {
   margin-left: 8px
 }
 
 .flash-deals .product-price,
 .under-five .product-price {
   display: flex;
   width: 100%;
   font-size: 14px;
   flex-direction: column;
   text-align: left;
   padding: 4px 0 4px 8px;
   background: #fff
 }
 
 @media screen and (max-width:350px) {
   .flash-deals .product-price,
   .under-five .product-price {
     padding: 0 0 0 8px
   }
 }
 
 .flash-deals .product-price span,
 .under-five .product-price span {
   color: #000;
   transform-origin: left;
   -webkit-transform: scale(.9)
 }
 
 .flash-deals .product-price del,
 .under-five .product-price del {
   color: #999;
   transform-origin: left;
   margin-top: 3px;
   -webkit-transform: scale(.8)
 }
 
 .flash-deals img,
 .under-five img {
   border-radius: 2px 2px 0 0
 }
 
 .flash-deals .price,
 .under-us .price {
   font-size: 14px;
   display: flex;
   width: 100%;
   flex-direction: column;
   text-align: left;
   padding: 7px 0 8px 8px
 }
 
 .floor-deals .featured-brands amp-carousel>div {
   padding: 0 8px;
   height: 40vw
 }
 
 .floor-deals .featured-brands amp-carousel>div::-webkit-scrollbar {
   display: none
 }
 
 .featured-brands a {
   display: block;
   width: 85.56vw
 }
 
 .floor-deals .deals-title-container .block>span:nth-child(2) {
   display: none
 }
 
 .life-style .deals-title-container {
   background-color: #f2f2f2
 }
 
 .life-style {
   margin: 0 8px;
   font-size: 0;
   background-color: #fff
 }
 
 .life-style .text {
   position: absolute;
   z-index: 1;
   padding-left: 7px;
   padding-top: 12px;
   font-size: 14px
 }
 
 .bg {
   display: none
 }
 
 #life-style>div>div {
   width: 33.33%;
   height: 33.75vw;
   display: inline-block
 }
 
 #life-style>div .product-box {
   width: 22.22vw;
   height: 22.22vw;
   position: absolute;
   bottom: 5px;
   left: 15px;
   overflow: hidden
 }
 
 #life-style>div>div:nth-child(1) {
   position: relative;
   width: 100%;
   height: 41.94vw
 }
 
 #life-style>div>div:nth-child(1) .text {
   color: #fff
 }
 
 #life-style>div>div:nth-child(1) .bg {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0
 }
 
 #life-style>div>div:nth-child(1) .product-box {
   width: auto;
   bottom: 11px;
   left: 8px;
   display: flex
 }
 
 #life-style>div>div:nth-child(1) .product-box>amp-img {
   margin-right: 8px;
   border-radius: 2px
 }
 
 #life-style>div>div:nth-child(2) {
   position: relative;
   border-right: 1px solid #F2F2F2;
   border-bottom: 1px solid #F2F2F2;
   margin-top: 1px
 }
 
 #life-style>div>div:nth-child(2) .product-box>amp-img:nth-child(2) {
   display: none
 }
 
 #life-style>div>div:nth-child(2) .product-box>amp-img:nth-child(3) {
   display: none
 }
 
 #life-style>div>div:nth-child(3) {
   position: relative;
   width: 66.66%;
   height: 33.75vw;
   border-bottom: 1px solid #F2F2F2
 }
 
 #life-style>div>div:nth-child(3) .product-box {
   width: auto
 }
 
 #life-style>div>div:nth-child(3) .product-box>amp-img:nth-child(1) {
   margin-right: 5.83vw
 }
 
 #life-style>div>div:nth-child(3) .product-box>amp-img:nth-child(3) {
   display: none
 }
 
 #life-style>div>div:nth-child(4) {
   position: relative;
   border-right: 1px solid #F2F2F2
 }
 
 #life-style>div>div:nth-child(4) .product-box>amp-img:nth-child(2) {
   display: none
 }
 
 #life-style>div>div:nth-child(4) .product-box>amp-img:nth-child(3) {
   display: none
 }
 
 #life-style>div>div:nth-child(5) {
   position: relative;
   border-right: 1px solid #F2F2F2
 }
 
 #life-style>div>div:nth-child(5) .product-box>amp-img:nth-child(2) {
   display: none
 }
 
 #life-style>div>div:nth-child(5) .product-box>amp-img:nth-child(3) {
   display: none
 }
 
 #life-style>div>div:nth-child(6) {
   position: relative
 }
 
 #life-style>div>div:nth-child(6) .product-box>amp-img:nth-child(2) {
   display: none
 }
 
 #life-style>div>div:nth-child(6) .product-box>amp-img:nth-child(3) {
   display: none
 }
 
 .qp-title {
   padding-top: 16px;
   padding-left: 16px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
   color: #3A3E4A
 }
 
 .qp-list {
   margin: 4px 4px 12px
 }
 
 #just-for-you {
   position: static
 }
 
 #just-for-you>div {
   position: static;
   height: auto;
   min-height: 500px
 }
 
 .product .price {
   font-size: 12px;
   line-height: 18px;
   height: 18px;
   color: #000
 }
 
 .product del {
   font-size: 13px;
   color: #B0B2B7
 }
 
 .grid-qp {
   padding: 4px;
   display: block;
   width: 50%;
   float: left
 }
 
 .grid-qp .img {
   margin-bottom: 8px
 }
 
 .grid-qp .img amp-img {
   border-radius: 2px 2px 0 0
 }
 
 .grid-qp .product {
   background: #fff
 }
 
 .grid-qp .product .none-img {
   padding-bottom: 8px;
   padding-left: 8px
 }
 
 .show-more {
   margin: 0 8px;
   height: 48px;
   background: #fff;
   box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24)
 }
 
 .show-more>div {
   height: 48px
 }
 
 #btnSubmit {
   line-height: 48px;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
   color: #2E9CC3
 }
 
 footer {
   padding-top: 16px;
   border-top: 1px solid #ccc;
   margin: 16px 8px 0
 }
 
 .banner-register {
   margin-bottom: 12px
 }
 
 .buyer-protection {
   padding: 16px 16px 0;
   margin-bottom: 12px;
   background-color: #fff
 }
 
 .buyer-protection p {
   font-size: 12px;
   line-height: 18px
 }
 
 .buyer-protection ul li {
   line-height: 48px;
   border-top: 1px solid #F2F2F2
 }
 
 .buyer-protection ul li:nth-child(1) {
   margin-top: 12px
 }
 
 .buyer-protection ul a {
   display: flex;
   display: -webkit-flex;
   justify-content: space-between;
   -webkit-justify-content: space-between;
   align-items: center;
   -webkit-align-items: center
 }
 
 .method {
   background-color: #fff;
   padding: 6px 16px 0 16px;
   margin-bottom: 12px;
   line-height: 18px
 }
 
 .method>div {
   padding: 10px 0
 }
 
 .method>div:nth-child(2) {
   border-top: 1px solid #f2f2f2
 }
 
 .method p {
   margin-bottom: 12px
 }
 
 .footer-inc {
   text-align: center
 }
 
 .footer-inc .items {
   margin-bottom: 10px
 }
 
 .footer-inc .items span {
   margin-right: 20px
 }
 
 .footer-inc .items span:nth-child(3) {
   margin-right: 0
 }
 
 .footer-inc .inc {
   margin-bottom: 15px;
   color: #ccc
 }
 
 amp-user-notification .relative {
   padding: 12px 40px 12px 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: .8;
   background: #000;
   color: #fff
 }
 
 amp-user-notification .relative a {
   color: #2E9CC3
 }
 
 amp-user-notification .relative .ic-md.ic-close-md {
   position: absolute;
   top: 12px;
   right: 12px
 }
 
 amp-user-notification p {
   font-size: 12px;
   line-height: 18px
 }
 
 #ms-sidebar {
   background: #fff;
   width: 80%;
   height: 100%
 }
 
 .ms-drawer {
   width: 100%;
   height: 100%;
   -overflow-scrolling: touch
 }
 
 .drawer-box {
   width: 100%;
   padding-top: 8px;
   padding-bottom: 8px;
   color: #555
 }
 
 .drawer-box+.drawer-box {
   border-top: 1px solid #EBEBEC
 }
 
 .drawer-box li {
   position: relative;
   height: 48px;
   line-height: 48px;
   overflow: hidden;
   font-size: 14px
 }
 
 .drawer-box li .ic-md {
   padding: 12px 16px 12px 16px;
   margin-right: 16px;
   float: left;
   font-size: 24px;
   color: #898B92
 }
 
 .drawer-box li b,
 .drawer-box li span {
   font-weight: 600
 }
 
 .drawer-box li a {
   display: block
 }
 
 .drawer-language b {
   font-weight: 400
 }
 
 .drawer-language span {
   float: right;
   margin-right: 16px;
   min-width: 56px;
   line-height: 48px;
   color: #4A90E2;
   text-transform: uppercase
 }
 
 .ms-drawer-loginInfo {
   height: 148px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   background-color: #e62e02;
   overflow: hidden;
   background-image: url(https://ae01.alicdn.com/kf/HTB198AeHFXXXXX2apXX760XFXXXy.png);
   background-repeat: no-repeat;
   background-size: cover
 }
 
 .ms-drawer-loginInfo .portrait {
   width: 96px;
   height: 96px;
   padding: 16px;
   border-radius: 50%
 }
 
 .ms-drawer-loginInfo .portrait img {
   display: block;
   border-radius: 50%
 }
 
 .ms-drawer-loginInfo .drawer-unlogin {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   padding: 15px 16px 16px;
   white-space: nowrap;
   font-size: 15px;
   line-height: 1.2;
   color: #fff
 }
 
 .ms-drawer-loginInfo .drawer-signin {
   display: inline-block;
   padding: 0 6px 0 0;
   font-size: 15px;
   line-height: 1.2;
   border-right: solid 1px #fff;
   color: #fff
 }
 
 .ms-drawer-loginInfo .drawer-join {
   display: inline-block;
   padding-left: 2px;
   font-size: 15px;
   line-height: 1.2;
   color: #fff
 }
 
 .drawer-username {
   color: #fff;
   font-size: 15px
 }
 
 .drawer-logined {
   line-height: 1;
   padding: 8px 16px
 }
 
 #language-choice {
   height: 100%;
   width: 100%;
   position: fixed;
   background: #fff;
   z-index: 2147483647;
   -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, .21, 1);
   transition: -webkit-transform 233ms cubic-bezier(0, 0, .21, 1);
   transition: transform 233ms cubic-bezier(0, 0, .21, 1);
   transition: transform 233ms cubic-bezier(0, 0, .21, 1), -webkit-transform 233ms cubic-bezier(0, 0, .21, 1)
 }
 
 .language-choice-close {
   -webkit-transform: translateY(100%);
   transform: translateY(100%)
 }
 
 .language-choice-open {
   top: 0
 }
 
 .lang-list .ms-rc-ripple {
   position: relative;
   height: 48px;
   padding: 0 28px 0 16px;
   border-bottom: 1px solid #eee
 }
 
 .lang-list .ms-rc-ripple a {
   display: block;
   line-height: 47px;
   font-size: 15px
 }
 
 .ms-panel-header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
   padding-left: 72px;
   padding-right: 8px;
   font-size: 18px;
   line-height: 56px;
   background-color: #fff;
   -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .24);
   box-shadow: 0 2px 2px rgba(0, 0, 0, .24)
 }
 
 .ms-panel-title {
   font-weight: 600
 }
 
 .ms-panel-bodyer {
   height: 100%;
   overflow-y: auto
 }
 
 .ms-panel-cancel {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   padding: 16px;
   width: 56px;
   height: 56px
 }
 
 .ms-panel-cancel .ic-close-md {
   display: block;
   font-size: 24px;
   line-height: 1;
   color: #3A3E4A
 }
 
 .lang-list {
   padding-top: 56px
 }
 
 .lang-list .ic-right-md {
   display: none
 }
 
 .lang-list .current .ic-right-md {
   display: block;
   position: absolute;
   top: 12px;
   right: 10px;
   color: red;
   font-size: 20px
 }
 
 [data-role="#DEB055"] {
   background-color: #DEB055
 }
 
 [data-role="#FF402C"] {
   background-color: #FF402C
 }
 
 .big-sale-list [data-role="#FF8300"] {
   background-color: #FF8300
 }
 
 .big-sale-list [data-role="#F340DF"] {
   background-color: #F340DF
 }
 
 .big-sale-list [data-role="#D72626"] {
   background-color: #D72626
 }
 
 .big-sale-list [data-role="#CB4AA0"] {
   background-color: #CB4AA0
 }
 
 .big-sale-list [data-role="#03C9D1"] {
   background-color: #03C9D1
 }
 
 .big-sale-list [data-role="#00C163"] {
   background-color: #00C163
 }
 
 .big-sale-list [data-role="#DC8E20"] {
   background-color: #DC8E20
 }
 
 .big-sale-list [data-role="#00AEE5"] {
   background-color: #00AEE5
 }
 
 .big-sale-list [data-role="#10D2F5"] {
   background-color: #10D2F5
 }
 
 .big-sale-list [data-role="#3F9698"] {
   background-color: #3F9698
 }
 
 .big-sale-list [data-role="#5A56FF"] {
   background-color: #5A56FF
 }
 
 .big-sale-list [data-role="#FFB100"] {
   background-color: #FFB100
 }
 
 .big-sale-list {
   padding: 0 12px;
   font-size: 0
 }
 
 .big-sale-item {
   display: inline-block;
   width: 33.33%;
   padding: 4px;
   vertical-align: top
 }
 
 .big-sale-item a {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 6px;
   overflow: hidden
 }
 
 .big-sale-item h4 {
   height: 38px;
   padding: 6px 8px;
   font-size: 10px;
   text-align: center;
   color: #FFF;
   background: #FFF;
   text-align: center;
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2
 }
 
 .big-sale-product-wrap {
   padding: 0 16px
 }
 
 .big-sale-product-list {
   font-size: 0;
   background-color: #FFF;
   border-radius: 6px
 }
 
 .big-sale-product-item {
   display: inline-block;
   width: 33.33%;
   padding: 12px 4px;
   vertical-align: top
 }
 
 .big-sale-product-item img {
   border-radius: 6px
 }
 
 .big-sale-product-item h4 {
   padding-top: 12px;
   text-align: center;
   overflow: hidden
 }
 
 .big-sale-product-item .current-price {
   line-height: 16px;
   font-size: 13px;
   color: #333
 }
 
 .big-sale-product-item .original-price {
   line-height: 15px;
   font-size: 12px;
   color: #999;
   text-decoration: line-through
 }
 
 .big-sale-banner {
   padding: 16px
 }
 
 .big-sale-coupon-wrap {
   position: relative
 }
 
 .big-sale-coupon-wrap a {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 0 16px
 }
 
 .big-sale-title {
   padding: 16px;
   font-size: 18px;
   color: #FFF
 }
 
 .big-sale-item .big-sale-life-style {
   color: #000
 }
 
 .coupon-info img {
   border-radius: 6px
 }
 
 .big-sale-country-wrap {
   padding: 0 16px
 }
 
 .big-sale-country-content {
   border-radius: 6px;
   overflow: hidden
 }
 
 .big-sale-country-banner-list-wrap,
 .big-sale-country-list-wrap {
   padding: 0 4px;
   overflow: hidden;
   background-color: #FFF;
   position: relative
 }
 
 .big-sale-country-list-wrap {
   height: 144px;
   z-index: 1
 }
 
 .big-sale-country-banner-list-wrap {
   height: 84px;
   z-index: 1
 }
 
 .big-sale-country-banner-list,
 .big-sale-country-list {
   font-size: 0;
   white-space: nowrap;
   overflow-x: auto
 }
 
 .big-sale-country-list>div:first-child {
   height: 154px
 }
 
 .big-sale-country-banner-list>div:first-child {
   height: 94px
 }
 
 .big-sale-country-banner-list div,
 .big-sale-country-list div {
   margin-left: 0
 }
 
 .big-sale-country-item {
   display: inline-block;
   width: 100px;
   padding: 4px;
   vertical-align: top
 }
 
 .big-sale-country-item h4 {
   height: 44px;
   font-size: 10px;
   line-height: 12px;
   padding: 10px 0;
   text-align: center;
   white-space: normal
 }
 
 .big-sale-country-banner-item {
   display: inline-block;
   width: 166px;
   padding: 8px 3px
 }
 
 .big-sale-country-title {
   justify-content: space-between
 }
 
 .big-sale-title-right span {
   padding-left: 8px;
   font-size: 15px;
   line-height: 24px
 }