.new-header {
    position: relative;
    z-index: 1;
    background: #fff
}

.new-header-inner {
    width: 100%;
    height: 56px;
    -webkit-box-shadow: 0 1px 2px rgba(57, 54, 43, .3);
    box-shadow: 0 1px 2px rgba(57, 54, 43, .3)
}
.new-head-cart .cart, .new-head-search, .add-main-screen, .new-head-category, .new-return {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    height: 56px;
    padding: 8px;
    line-height: 40px;
    margin-right: 8px;
    color:#39362b;
}

.add-main-screen {
    display: none
}

.new-return {
    margin: 0 0 0 8px
}
.com-ripple-btn, .com-ripple-href {
    overflow: hidden;
    position: relative;
    cursor: pointer
}
.new-header .common-ic-md {
    font-size: 24px;
    position: relative;
    display: inline-block;
    font-family: icomoon !important;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

.head-right-Warp {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.new-logotext {
    position: absolute;
    left: 100px;
    top: 0;
    width: 120px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype')
}

.ic-menu-md:before {
    content: "\ea30";
    line-height: 40px
}

.ic-addscreen-md:before {
    content: "\e903";
    line-height: 40px
}

.common-ic-shoppingcart-md:before {
    content: "\ea85";
    line-height: 40px
}

.common-ic-search-md:before {
    content: "\f0ee";
    line-height: 40px
}

.ic-return-md:before {
    content: "\e9f2";
    line-height: 40px
}

.ic-spot-md:before {
    content: "\ea38"
}



.ic-download-md:before {
    content: "\e906";
    color: #fff
}

.ic-star-md:before {
    content: "\e909"
}

.ic-more_horiz-md:before {
    content: "\ea34"
}

.new-header .common-ic-md {
    font-size: 24px;
    position: relative;
    display: inline-block;
    font-family: icomoon !important;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

.pri_pg_vip {
    line-height: 16px;
    font-size: 14px;
    padding-bottom: 2px;
    color: #F60;
    font-weight: bold
}

.pri_pg_sale {
    margin: 0px;
    display: inline;
    color: #F00;
    font-size: 0.8em;
    text-decoration: line-through;
}
.cart-number {
    position: absolute;
    top: 10px;
    right: 3px;
    display: none;
    padding: 0 2px;
    min-width: 10px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    background: #f3b202;
    font-size: 10px
}

