@charset "utf-8";
body { margin: 0px; padding: 0px; font: 1em Arial;}
br { clear:left; }
td { color:#000; }
form { margin:0px; padding:0px; }
label { padding:3px 0px; }
label.lb_w120px { padding:3px 0px; width: 120px; }
fieldset { padding:5px 15px 7px; margin:0px auto; clear:both; }
legend { color: #036; padding: 0px 5px 7px; margin: 0px; font: bold 12px Verdana; }
fieldset.sec { border: 1px solid #9CF; }
fieldset.sec legend { color: #06C; }
fieldset.third { border: 1px solid #fba504; }
fieldset.third legend { font-size: 14px; color: #e86900; }
h1 { margin: 0px; padding: 10px 0px 10px 10px; clear: both; font-size: 1.1em; background: #f5f5f5; border-bottom: 1px dashed #CCC; background: -webkit-linear-gradient(#fff, #f5f5f5); /* Safari */ background: -o-linear-gradient(#fff, #f5f5f5); /* Opera */ background: -moz-linear-gradient(#fff, #f5f5f5); /* Firefox */ background: linear-gradient(#fff, #f5f5f5); }
select { max-width: 95%; border: 1px solid #999; padding: 3px; }
input { border: 1px solid #999; background: #FFFFFF; font-size: 1em; padding: 0.2em; }
input:hover { border: 1px solid #900; background: #FFFFEC; }
    input.input_radio, input.input_radio:hover, input.input_checkbox, input.input_checkbox:hover  { border-style: none; }
    input.ipt_img { font-size: 1em; background: url(none); padding: 0px; border-style: none; }
textarea { width:90%; max-width:90%; }





@font-face {font-family: "iconfont";
  src: url('images/iconfont/iconfont.eot'); /* IE9*/
  src: url('images/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('images/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
url('images/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('images/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rotate:before { content: "\e63f"; }
.icon-appreciate:before { content: "\e60c"; }
.icon-check:before { content: "\e61d"; }
.icon-close:before { content: "\e61e"; }
.icon-edit:before { content: "\e60d"; }
.icon-locationfill:before { content: "\e618"; }
.icon-phone:before { content: "\e60e"; }
.icon-roundcheckfill:before { content: "\e649"; }
.icon-roundclosefill:before { content: "\e60f"; }
.icon-roundclose:before { content: "\e64a"; }
.icon-search:before { content: "\e600"; }
.icon-unfold:before { content: "\e61f"; }
.icon-warnfill:before { content: "\e620"; }
.icon-warn:before { content: "\e621"; }
.icon-comment:before { content: "\e622"; }
.icon-like:before { content: "\e610"; }
.icon-deliver:before { content: "\e611"; }
.icon-evaluate:before { content: "\e645"; }
.icon-back:before { content: "\e601"; }
.icon-list:before { content: "\e623"; }
.icon-more:before { content: "\e624"; }
.icon-myfill:before { content: "\e612"; }
.icon-my:before { content: "\e602"; }
.icon-settings:before { content: "\e613"; }
.icon-question:before { content: "\e603"; }
.icon-pic:before { content: "\e614"; }
.icon-right:before { content: "\e604"; }
.icon-refresh:before { content: "\e605"; }
.icon-moreandroid:before { content: "\e625"; }
.icon-cart:before { content: "\e606"; }
.icon-home:before { content: "\e607"; }
.icon-cartfill:before { content: "\e608"; }
.icon-message:before { content: "\e626"; }
.icon-addressbook:before { content: "\e627"; }
.icon-lock:before { content: "\e615"; }
.icon-unlock:before { content: "\e628"; }
.icon-vip:before { content: "\e635"; }
.icon-friendfamous:before { content: "\e636"; }
.icon-roundadd:before { content: "\e629"; }
.icon-fold:before { content: "\e62a"; }
.icon-info:before { content: "\e609"; }
.icon-forwardfill:before { content: "\e62b"; }
.icon-forward:before { content: "\e62c"; }
.icon-vipcard:before { content: "\e637"; }
.icon-sort:before { content: "\e60a"; }
.icon-down:before { content: "\e62d"; }
.icon-duihuan:before { content: "\e640"; }
.icon-countdown:before { content: "\e638"; }
.icon-brand:before { content: "\e639"; }
.icon-choiceness:before { content: "\e646"; }
.icon-female:before { content: "\e62e"; }
.icon-male:before { content: "\e62f"; }
.icon-new:before { content: "\e63a"; }
.icon-refresharrow:before { content: "\e630"; }
.icon-mark:before { content: "\e616"; }
.icon-attachment:before { content: "\e647"; }
.icon-paypal:before { content: "\e61b"; }
.icon-people:before { content: "\e60b"; }
.icon-duihuanquan:before { content: "\e641"; }
.icon-iconfontaddcart:before { content: "\e619"; }
.icon-attention:before { content: "\e63b"; }
.icon-new1:before { content: "\e61a"; }
.icon-calendar:before { content: "\e64b"; }
.icon-tag:before { content: "\e63c"; }
.icon-localshipping:before { content: "\e63e"; }
.icon-currency:before { content: "\e634"; }
.icon-hot:before { content: "\e63d"; }
.icon-rounddown:before { content: "\e617"; }
.icon-write:before { content: "\e631"; }
.icon-change:before { content: "\e648"; }
.icon-add:before { content: "\e632"; }
.icon-move:before { content: "\e633"; }
.icon-duihuan1:before { content: "\e642"; }
.icon-icon:before { content: "\e643"; }
.icon-duihuan2:before { content: "\e644"; }
.icon-paypal-p:before { content: "\e61c"; }




a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #C00; text-decoration: none; }
a:active { color:#C30; }

.gray{color:#666;}
.gray_dark{color:#555;}
.black{color:#000;}
.yellow {color:#ff9900;}
.yellow_dark { color: #C60; }
.green {color:#390;}
.green_dark {color:#050;}
.blue { color:#03F }
.blue_dark {color: #036;}
.white {color:#FFF}
.red {color:#F00}
.red_dark {color:#C00;}
.red_star { color:#F00; font: bold 12px Arial; }
.gold { color: #ff7300; }
.gold_dark { color: #F26D00; }


.alert_remark { color: #C00; font: 11px Arial; }
.alert_ok { color: #060; font: 11px Arial; }
.alert_ng { color: #F00; font: bold 11px Arial; }
.alert_img_close { margin: -10px -10px 0px 0px; padding: 0px; float: right; height: 8px; width: 19px; cursor:pointer; border: 0px; }
.alert_div { background: #FF6; color: #C00; }


.font_small { font-size: 0.7em; }
.font_medium { font-size: 0.8em; }
.fton_moderate { font-size: 0.9em; }
.font_normal { font-size: 1em; }
.font_big { font-size: 1.2em; }
.font_large { font-size: 1.5em; }
.font_major { font-size: 1.8em; }
.font_huge { font-size: 2em; }

.font_bold { font-weight: bold; }
.no_bold { font-weight: normal; }
.word_wrap {word-wrap:keep-all;}
.word_break {word-break:break-all;}

.verdana {font-family:Verdana;}
.georgia {font-family:Georgia;}
.arial {font-family:Arial;}

.px10 {font-size:10px;}
.px11 {font-size:11px;}
.px12 {font-size:12px;}
.px13 {font-size:13px;}
.px14 {font-size:14px;}
.px15 {font-size:15px;}
.px16 {font-size:16px;}
.px18 {font-size:18px;}
.px20 {font-size:20px;}
.px22 {font-size:22px;}

.remark {margin:0px;padding:0px;color:#666;font:normal normal 10px Verdana;}
.line12em {line-height:1.2em;}
.line15em {line-height:1.5em;}
.line18em {line-height:1.8em;}
/* font standard end */


/* blank and block standard */
.align_center {text-align:center;margin:0px auto;}
.align_left {text-align:left;clear:both;margin:0px auto;}
.align_right {text-align:right;clear:both;margin:0px auto;}
.text_align_right {text-align:right;}

.blank2px {font-size:0px;clear:both;height:2px;padding:0px;margin:0px;overflow:hidden;}
.blank3px {font-size:0px;clear:both;height:3px;padding:0px;margin:0px;overflow:hidden;}
.blank5px {font-size:0px;clear:both;height:5px;padding:0px;margin:0px;overflow:hidden;}
.blank8px {font-size:0px;clear:both;height:8px;padding:0px;margin:0px;overflow:hidden;}
.blank10px { font-size:0px; clear:both; height:10px; padding:0px; margin:0px; overflow:hidden; }
.blank15px {font-size:0px;clear:both;height:15px;padding:0px;margin:0px;overflow:hidden;}

.padd_lr_10px { padding-right: 10px; padding-left: 10px; } 

.clear { font-size:0px; margin:0px; padding:0px; clear:both; height:0px; overflow:hidden; _height:auto; }
.dashed_line {border-bottom:#ccc dashed 1px;font-size:0px;margin:0px auto;clear:both;height:0px;overflow:hidden;}
.dashed3px {border-bottom:#ccc dashed 1px;font-size:0px;margin:3px auto;clear:both;height:0px;overflow:hidden;}
.dashed5px {border-bottom:#ccc dashed 1px;font-size:0px;margin:5px auto;clear:both;height:0px;overflow:hidden;}

.fl, .float_left {float:left;padding:0px;margin:0px;}
.fr, .float_right {float:right;padding:0px;margin:0px;}
.fr_inl { display: inline; float: right; }
.w10px {width:10px;}
.w60px {width:60px;}
.w70px {width:70px;}
.w80px {width:80px;}
.w90px {width:90px;}
.w100px {width:100px;}
.w110px {width:110px;}
.w115px {width:115px;}
.w120px {width:120px;}
.w130px {width:130px;}
.w150px {width:150px;}
.w160px {width:160px;}
.w170px {width:170px;}
.w200px {width:200px;}
.w205px {width:205px;}
.w270px {width:270px;}
.w280px {width:280px;}
.w350px {width:350px;}
.w400px {width:400px;}
.w470px {width:470px;}
.w530px {width:530px;}
.w540px {width:540px;}
.w550px {width:550px;}
.w600px {width:600px;}

.w90per { margin: 0px auto; width: 90%; }
.w95per { margin: 0px auto; width: 95%; }
.w95per_fr { width:95%; float:right; margin:0px; padding:0px; clear: both; }


.span_num_verify { color: #FFFFFF; margin: 0px; padding: 3px 6px; letter-spacing: 5px; font: bold 1.2em Georgia; background: #990000; }
.area_remind { font: 0.7em/1.6em Verdana; background: #FFC; margin: 0px auto; padding: 10px; clear: both; width: 90%; border: 1px solid #FC9; word-wrap:break-word; }
/* blank and block standard end */







.header { margin: 0px; padding: 0px 70px 0px 40px; clear: both; height: 50px; border-bottom: 1px solid #bfbfbf; background: -webkit-linear-gradient(#fff, #efefef); /* Safari */ background: -o-linear-gradient(#fff, #efefef); /* Opera */ background: -moz-linear-gradient(#fff, #efefef); /* Firefox */ background: linear-gradient(#fff, #efefef); }
    .hd_logo { margin: 0px; padding: 0px; float: left; height: 50px; width: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; }
        .hd_logo a, .hd_logo a:link { background: url(images/logo.png) no-repeat 0px 0px; display: inline-block; margin: 0px; padding: 0px; height: 50px; width: 40px; text-indent: -9999px; }
    .hd_sch { margin: 0px; padding: 10px 0px 0px; height: 40px; width: 100%; clear: both; }
        .hd_sch form { padding: 0px; margin: 0px; height: 32px; overflow: hidden; line-height: 32px; clear: both; border-radius: 5px; width: auto; border: 1px solid #bfbfbf; vertical-align: middle; left: 10px; right: 10px; }
        .hd_sch form input { font: 0.85em/32px Arial; width: 100%; padding: 0px 10px; height: 32px; float: left; margin: 0px; border-style: none; overflow: hidden; color: #999; }
        .hd_sch form input:hover, .hd_sch form input.kwfocus { color: #C00; font: bold 0.85em Verdana; }
        .hd_sch form input.go { margin: 0px; padding: 0px; height: 32px; width: 30px; cursor: pointer; border-style: none; float: right; background: url(none); font-size: 20px; color: #666; position: relative; top: -32px; right: 0px; z-index: 99; }
    .hd_nav { margin: 0px; padding: 0px; float: right; height: 50px; width: 65px; position: fixed; top: 0px; right: 0px; color: #666; z-index: 9999; }
        .hd_nav a { color: #666; }
        .hdn_signin { padding: 0px; float: left; height: 50px; width: 30px; overflow: hidden; font-size: 30px; line-height: 50px; margin: 0px; -webkit-transition: font-size 0.25s ease-out 0s; -moz-transition: font-size 0.25s ease-out 0s; transition: font-size 0.25s ease-out 0s; }
        .hdn_cart { padding: 0px; float: right; height: 50px; width: 35px; overflow: hidden; font-size: 30px; line-height: 50px; margin: 0px; -webkit-transition: font-size 0.25s ease-out 0s; -moz-transition: font-size 0.25s ease-out 0s; transition: font-size 0.25s ease-out 0s; }
            .hdn_my_cart { position: relative; z-index: 99999; right: -8px; top: -43px; text-align: center; font-size: 0.7em; }
    
    .hd_back_cate { margin: 0px; padding: 0px; float: left; height: 50px; width: 70px; overflow: hidden; position: absolute; left: 0px; top: 0px; line-height: 50px; color: #666; font-size: 26px; }
        .hd_back_cate a { color: #666; line-height: 50px; display: inline-block; margin: 0px; padding: 0px; height: 50px; width: 30px; text-align: center; }
    .hd_c_logo { line-height: 50px; text-align: center; margin: 0px auto; padding: 0px 0px 0px 30px; height: 50px; width: 40px; }
        .hd_c_logo a, .hd_c_logo a:link { background: url(images/logo.png) no-repeat 0px 0px; display: block; margin: 0px; padding: 0px; height: 50px; width: 40px; text-indent: -9999; }


.footer { margin: 0px; padding: 10px; clear: both; text-align: center; font-size: 0.8em; border-top: 1px solid #CCC; background: #fafafa; }
    .footer a, .footer a:link, .footer a:visited { color: #333; text-decoration: none; }
    .ft_menu { padding: 5px 0px; clear: both; margin: 0px; }
        .ft_menu a { display: inline-block; padding-right: 10px; padding-left: 10px; }
    .ft_menu span { color: #999; margin: 0px; padding: 0px 10px; font-size: 11px; }
    .ft_copyright { color: #333; line-height: 1.6em; clear: both; padding-top: 5px; }




.main_h_banner { margin: 0px; padding: 0px; clear: both; }

.mn_row { line-height: 40px; margin: 0px; padding: 0px 10px; clear: both; height: 40px; background: #e6e6e6; border-bottom: 1px solid #CCC; }
    .mn_row h1 { margin: 0px; padding: 0px; clear: both; background: url(none); }
    .mn_row a { display: block; }
    .m_row_cate { font-size: 1.2em; vertical-align: middle; }
    .m_row_fr_right { float: right; line-height: 40px; padding: 0px; height: 40px; }
        .mr_cate_sort { margin: 0px; padding: 10px 0px; clear: both; background: #F5F5F5; color: #333; }
            .mr_cate_sort a { display: block; border-bottom: 1px dashed #CCC; color: #333; padding: 10px 5px 10px 20px; background: #f5f5f5; }
            .mr_cate_sort a.mcs_subdir { display: block; border-bottom: 1px dashed #CCC; color: #666; padding: 10px 10px 10px 40px; background: #FAFAFA; font-size: 0.8em; }
.mn_list { margin: 0px; padding: 10px 0px; clear: both; background: #FFF; color: #333; }
    .mn_list a { display: block; border-bottom: 1px dashed #CCC; color: #555; padding: 10px 10px 10px 40px; font-size: 0.8em; }

.m_row_u { margin: 0px; padding: 5px 20px 5px 20px; clear: both; background: #F5F5F5; color: #333; }
    .m_row_u a { display: block; color: #333; }
    .m_row_u ul { margin: 0px; padding: 0px; clear: both; }
    .m_row_u ul li { font-size: 1em; margin: 0px; padding: 0px; height: 35px; list-style: none; line-height: 35px; border-bottom: 1px dashed #CCC; }
    .m_row_u ul li span { font-size: 1.2em; }
    .m_row_u ul li.mru_l_last { border-bottom: none; }

.mn_row_green { background: #D7FFD7; text-align: center; clear: both; border-top: 1px dashed #CCC; }
    .mn_row_green a { font-size: 0.9em; font-weight: bold; color: #060; display: block; padding: 10px; }



.pro_pic_v { background: #F7F7F7 url(images/picbg.png) no-repeat center center; text-align: center; vertical-align: middle; margin: 0px; padding: 0px; clear: both; height: auto; width: 100%; }
    .pro_pic_v img { max-width:100%; }
.pro_chf { padding: 10px; clear: both; border-top: 1px solid #bfbfbf; }
    h1.proname { margin: 0px; padding: 5px 10px 10px; clear: both; font-size: 0.95em; border-style: none; }
    .pro_chf img { max-width:100%; }
    .pro_chf table { max-width:100%; }
.pro_cart_btn { margin: 0px; padding: 0px; clear: both; width: 100%; position: fixed; left: 0px; bottom: 0px; }

.pro_grid_list{width:50%;float: left;}
.pro_grid { margin: 5px  5px; padding: 5px 0px;   background: #FFF; box-shadow: 3px 3px 3px #e6e6e6; border: 1px solid #e6e6e6; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
    .pro_gr_photo { margin: 0px auto; padding: 10px; clear: both; text-align: center; }
    .pro_gr_name { padding: 5px 10px; margin: 0px; clear: both; height: 3.2em; overflow: hidden; font-size: 0.8em; }
    .pro_gr_pri_vew { margin: 0px; padding: 5px 10px; clear: both; }
        .pro_gr_review { margin: 0px; padding: 5px 0px 0px; float: right; height: 10px; clear: both; }

.pro_list { clear: both; padding: 15px 0px 15px 0px; margin: 0px; border-bottom: #CCC dashed 1px; min-height:130px; }
    .pro_li_photo { background: url(images/picbg.png) no-repeat center center; text-align: center; vertical-align: middle; margin: 0px; padding: 0px; height: auto; width: 130px; position: absolute; z-index: 99; }
        .pro_li_off { font-size: 0.7em; color: #FFC; background: #390; padding: 1px 3px; position: absolute; z-index: 100; top: -5px; right: 0px; border-radius: 0.3em; }
    .pro_li_brief { margin: 0px; padding: 0px 0px 0px 135px; word-wrap: break-word; clear: both; font-size: 0.9em; }
        .pro_li_brief h2 { margin: 0px; padding: 0px 0px 8px; font-size: 0.9em; font-weight: bold; }

.ordp_list { clear: both; padding: 15px 0px 15px 0px; margin: 0px; border-bottom: #CCC dashed 1px; font-size: 0.8em; }
    .ordp_photo { background: url(images/picbg.png) no-repeat center center; text-align: center; vertical-align: middle; margin: 0px; padding: 0px; height: auto; width: 60px; position: absolute; z-index: 99; }
        .ordp_del { margin: 0px; padding: 0px; height: auto; width: 60px; position: absolute; z-index: 100; }
    .ordp_bri { margin: 0px; padding: 0px 0px 0px 60px; word-wrap: break-word; clear: both; min-height:80px; }
    .ordp_li_graylight { background: #F0F0F0; }
.ordt_ar { clear: both; padding: 10px 20px 10px 0px; margin: 0px; border-bottom: #CCC dashed 1px; font-size: 0.8em; text-align: right; }
    .ordt_ac { text-align: center; }
.ordt_step_t { clear: both; padding: 0px; margin: 0px; border-bottom: 1px solid #CCC; font-size: 0.8em; background: #F0F0F0; font-weight: bold; }
    .ordt_step_t span.ordtsp_sn { background: #E1E1E1; text-align: center; display: inline-block; padding: 10px; }
    .ordt_step_t span.ordtsp_sn_crt { background: #CC0000; text-align: center; display: inline-block; padding: 10px; color: #FF9; font-weight: bold; }
    .ordt_step_t a { display: block; }
.ordt_step_c { clear: both; padding: 15px 0px 15px 30px; margin: 0px; border-bottom: 1px solid #CCC; font-size: 0.8em; }


.pri_pd_sale { margin: 0px; padding: 10px 0px 0px 10px; float: left; display: inline; color: #F00; font-size: 0.8em; }
    .pri_pd_sale strong { color: #F00; text-decoration: line-through; }
    .pri_pd_sale i { color: #666; }
.pri_pd_vip { margin: 0px; padding: 0px; float: left; display: inline; font-size: 1.5em; font-weight: bold; color: #F60; }
.pri_pd_off { font-size: 0.7em; color: #FFC; background: #390; display: inline; padding: 2px 3px; float: left; margin-top: 5px; border-radius: 0.3em; margin-left: 10px; }

.pri_pg_sale { margin: 0px; padding: 5px 0px 0px 7px; float: left; display: inline; color: #F00; font-size: 0.8em; text-decoration: line-through; }
    .pri_pg_sale i { color: #666; }
.pri_pg_vip { margin: 0px; padding: 0px; float: left; display: inline; font-size: 1.2em; font-weight: bold; color: #F44336; }
.pri_pg_off { font-size: 0.7em; color: #FFC; background: #390; display: inline; padding: 2px 3px; float: left; margin-top: 2px; border-radius: 0.3em; margin-left: 10px; }

.pri_ph_vip { margin: 0px; padding: 2px 0px 0px; float: left; display: inline; font-size: 0.8em; font-weight: bold; color: #F44336; }
.pri_ph_off { font-size: 0.7em; color: #FFC; background: #390; display: inline; padding: 1px 3px; float: left; border-radius: 0.3em; margin-left: 10px; }


.rev_list { clear: both; padding: 15px 0px 15px 10px; margin: 0px; border-bottom: 1px solid #CCC; }
    .rev_reply { padding: 10px 0px 0px 20px; clear: both; border-top: 1px dashed #CCC; margin: 0px; font-size: 0.8em; }
.rev_t_user { border-bottom: 1px solid #CCC; background: #F2F2F2; color: #333; font-size: 0.9em; clear: both; padding: 10px 0px 10px 5px; }
.rev_t_webmaster { border-bottom: 1px solid #CCC; background: #FFFFDD; color: #900; font-size: 0.9em; clear: both; padding: 10px 0px 10px 5px; }


.mmbr_t { clear: both; padding: 0px; margin: 0px; border-bottom: 1px solid #CCC; font-size: 0.9em; background: #F0F0F0; font-weight: bold; padding: 0px; }
    .mmbr_t span.mmbrt_sn { background: #E1E1E1; text-align: center; display: inline-block; padding: 8px 10px; }
    .mmbr_t span.mmbrt_sn_crt { background: #CC0000; text-align: center; display: inline-block; padding: 10px; color: #FF9; font-weight: bold; }
    .mmbr_t i { font-size: 1.3em; padding: 0px 5px; font-weight: normal; }
    .mmbr_t a { display: block; padding: 8px 0px 8px 10px; }
    .mmbr_t a.mb_lsn { display: block; padding: 0px; }
.mmbr_c { clear: both; padding: 10px 0px 10px 20px; margin: 0px; border-bottom: 1px solid #CCC; font-size: 0.8em; }
    .mmbr_c input, .mmbr_c select { border-radius: 0.3em; font-size: 1.2em; max-width: 85%; border-left-width: 3px; }


.page_nav { padding: 1em 0.8em; clear: both; text-align: center; line-height: 3em; height: 3em; }
    .pgn_prev, .pgn_next { position: absolute; line-height: 2em; }
    .pgn_next { right: 0.8em; }
    .page_nav a { display: block; padding: 0.5em 1.2em; border: 1px solid #CCC; border-radius: 0.5em; background: #F6F6F6; background: -webkit-linear-gradient(#fff, #efefef); /* Safari */ background: -o-linear-gradient(#fff, #efefef); /* Opera */ background: -moz-linear-gradient(#fff, #efefef); /* Firefox */ background: linear-gradient(#fff, #efefef); }




/* Common button styles */
.button { float: left; min-width: 100px; max-width: 250px; display: inline-block; padding: 1em 2em; border: none; background: none; color: inherit; vertical-align: middle; position: relative; z-index: 1; -webkit-backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; cursor: pointer; }
.button:focus { outline: none; }
.button > span { vertical-align: middle; }

.button--round-l { border-radius: 40px; }

/* Sacnite */
.button.button--sacnite { width: 18px; height: 18px; min-width: 0; padding: 0; color: #FF0; -webkit-transition: color 0.3s; transition: color 0.3s; background: #C00; line-height: 18px; }
    .button.button--sacnite span { font-size: 0.7em; }
.button--sacnite::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 50%;; z-index: -1; -webkit-transform: scale3d(0.9, 0.9, 1); transform: scale3d(0.9, 0.9, 1); -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3; transition: box-shadow 0.3s, transform 0.3s; background: #C00; }
.button--scanite.button--round-l {  border-radius: 50%; }

.btn_buynow { background: #fdd659; padding: 0.4em 0.5em 0.4em 60px; color: #ad2e06; text-align: center; width: 60%; font-size: 1.3em; font-weight: bold; }
    .btn_buynow:before { left: 0px; top: 0px; width: 30%; min-width: 50px; height: 100%; font-size: 1.7em; position: absolute; line-height: 1.4em; font-weight: normal; background: #FDC51A; text-align: center; }
    .btn_buynow:after { height: 100%; font-size: 0.8em; position: absolute; text-align: right; right: 5px; width: 50px; content: "\e61b"; font-weight: lighter; top: 70%; }

.btn_addtocart { background: #BFDFFF; padding: 0.4em 0px 0.4em 50px; color: #00468C; text-align: center; width: 20%; min-width: 50px; font-size: 1.3em; overflow: hidden; }
    .btn_addtocart:before { left: 0px; top: 0px; height: 100%; font-size: 1.6em; position: absolute; line-height: 1.6em; font-weight: lighter; text-align: center; width: 100%; min-width: 50px; }
    .btn_added_tocart { color: #FF6600; }

.btn_addtofavorite { background: #E1E1E1; color: #666666; }
    .btn_favorited { background: #E1E1E1; color: #FF6600; }


.btn_submit { background: #fdd659; padding: 0.3em 0.5em 0.2em; color: #ad2e06; text-align: center; font-size: 1em; font-weight: bold; cursor: pointer; border-radius: 0.25em; border: 1px solid #EA964A; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
.btn_near { background: #dff7ff; padding: 0.2em; color: #0064AF; text-align: center; font-size: 1em; font-weight: bold; cursor: pointer; border: 1px solid #10b4db; border-top-right-radius: 0.3em; -webkit-border-top-right-radius: 0.3em; /* Safari */ border-bottom-right-radius: 0.3em; -webkit-border-bottom-right-radius: 0.3em; /* Safari */ }
.btn_blue { background: #0064AF; padding: 0.4em 1em; color: #FFFFFF; text-align: center; font-size: 1em; font-weight: bold; cursor: pointer; border-radius: 1.5em; border: 1px solid #0064AF; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); box-shadow: 0 1px 2px rgba(0,0,0,.2); }
    .btn_big { font-size: 1.2em; padding: 0.4em 0.5em 0.3em; }





.rate_star_w50 { margin: 0px; padding: 0px; float: left; height: 10px; width: 50px; }
    .rate_star_w50_bg { background: url(images/bg.png) no-repeat -100px -100px; margin: 0px; width: 50px; height: 10px; float: left; padding: 0px; }
    .rate_star_w50_vw { background: url(images/bg.png) no-repeat -100px -110px; margin: 0px; width: 0px; height: 10px; float: left; padding: 0px; }
    
.rate_star_w75 { margin: 0px; padding: 0px; float: left; height: 15px; width: 75px; }
    .rate_star_w75_bg { background: url(images/bg.png) no-repeat 0px -100px; margin: 0px; width: 75px; height: 15px; float: left; padding: 0px; }
    .rate_star_w75_vw { background: url(images/bg.png) no-repeat 0px -115px; margin: 0px; width: 0px; height: 15px; float: left; padding: 0px; }
        .rate_star_w75_1 {width: 15px;}
        .rate_star_w75_2 {width: 30px;}
        .rate_star_w75_3 {width: 45px;}
        .rate_star_w75_4 {width: 60px;}
        .rate_star_w75_5 {width: 75px;}
    .rate_star_w75_tx { line-height: 18px; margin: 0px; padding: 0px 0px 0px 5px; float: left; height: 15px; font-size: 0.75em; }

.rate_star_w100 { margin: 0px; padding: 0px; float: left; height: 20px; width: 100px; }
    .rate_star_w100_bg { background: url(images/bg.png) no-repeat -200px -100px; margin: 0px; width: 100px; height: 20px; float: left; padding: 0px; }
    .rate_star_w100_vw { background: url(images/bg.png) no-repeat -200px -120px; margin: 0px; width: 0px; height: 20px; float: left; padding: 0px; }
    .rate_star_w100_tx { line-height: 26px; margin: 0px; padding: 0px 0px 0px 5px; float: left; height: 20px; font-size: 0.8em; }



.loading_img { background:url(images/ico_loading.gif) no-repeat center center; height:80px; padding:0px; margin:0px auto; clear:both; line-height: 80px; }
.loading_img_mail { background: url(images/ico_sendingmail.gif) no-repeat center center; height: 40px; padding: 0px; margin: 0px auto; clear: both; line-height: 40px; }epeat center center; height: 40px; padding: 0px; margin: 0px auto; clear: both; line-height: 40px; }